__pycache__/
*.egg-info/
dist/
build/
.env
*.pyc
.ruff_cache/
.pytest_cache/
.venv/

# scaffold secrets
.scaffold/.env

# web
web/node_modules/
web/.yarn/
web/.pnp.*
web/dist/
web/tsconfig.tsbuildinfo
